*{
    margin: 0;
    padding: 0;
}
.allcontainer{
	max-width: 1920px;
    min-width: 800px;
	background-image: url(image/first.jpg);
}
@media screen and (max-width: 360px) {
    .allcontainer{
        width: 800px;
    }
}
.block{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    flex-flow:row wrap;
  justify-content: space-around;   
    }
@media screen and (max-width: 360px) {
     .block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 800px) {
     .block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
    }
}
.beard{
    align-items: center;
    justify-items: center;
}
@media screen and (max-width: 800px){
    .beard, .hair{
        margin-bottom: 130px;
    }
}
@media screen and (max-width: 360px){
    .beard, .hair{
        margin-bottom: 70px;
    }
}
.footer{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-color: #201815;
    border: 2px groove wheat;
    font-family: 'Lobster', cursive;
    color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 360px){
    .footer{
 flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
}
@media screen and (max-width: 800px){
    .footer{
 flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
}
.footer div{
    width: 100%;
    display: flex;
     justify-content: center;
}
.linkmenu{
    flex:20%;
}
@media screen and (max-width: 360px){
    .linkmenu{
    margin-left: -40px;
    margin-top: -50px;
    }
}
@media screen and (max-width: 800px){
    .linkmenu{
    margin-left: -40px;
    margin-top: -50px;
    }
}
.linkmenu a{
    width: 50px;
	height: 50px;
    border: 3px solid white;
    border-radius: 300px;
    padding-left: 12px;
    padding-top: 7px;
        margin-top: 60px;
}
.linkmenu .fb:hover{
    background: #3b5998;
}
.linkmenu .tw:hover{
   background: #00acee; 
}
.linkmenu .rss:hover{
    background: #ee802f;
}
.linkmenu .vk:hover{
    background: #597da3;
}
.fb img{
    padding-left: 5px;
}
.tw  img, .rss img{
    padding-left: 3px;
}
.phone {
    width: 33%;
    flex-direction: column;
    flex: 20%;
    align-items: center;
    font-size: 20px;
    letter-spacing: 3px;
}

.phone a, .mail a{
    color: white;
    text-decoration: none;
}
.mail a:hover{
    text-decoration: none;
    color: wheat;
}
.phone a:hover{
    text-decoration: none;
    color: wheat;
}
.mail{
    width: 33%;
    flex-direction: column;
    flex: 20%;
    align-items: center;
    font-size: 20px;
    letter-spacing: 3px;
}
.footer span{
    align-content: center;
    font-size: 55px;
    margin-bottom: 30px;
    word-spacing: 20px;
    letter-spacing: 10px;
}
.footer h5{
        font-size: 30px;
    letter-spacing: 7px;
}
.linkmenu a{
    margin-left: 30px;
    margin-bottom: 30px;
}
.linkmenu a:hover{
    opacity: 3px;
}
.header{
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    position: relative;
    margin-bottom: 120px;
}
.block0{ 
    width: 100%;
    min-height: 600px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  justify-content: space-around;
    position: relative;
       background: url(image/block0.jpg);
        background-size: cover;
       border: 4px solid wheat;
        border-radius: 80px;
    }
@media screen and (max-width: 800px) {
     .block0 {
        min-height: 600px;
    }
}
.block0 div{
    width: 100%;
    height: 100%;
    font-family: 'Lobster', cursive;
    color: wheat;
    text-shadow: black 0 2px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    font-size: 2.5vh;
}
@media screen and (max-width: 800px) {
     .block0 div{
        font-size: 30px;
        width: 100%;
        height: 100%;
    }
}
.block3{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    flex-flow: row wrap;
  justify-content: space-around;   
    border-bottom: 7px solid wheat;
    border-width: 100%;
    border-radius: 30px;
}
.block3 img{
    width: 660px;
    height: 600px;
    border: 50px double wheat;
    border-radius: 300px;
    filter: sepia(100%);
    margin-top: 80px;
    margin-left: 18px;
}
.clockh1{
    font-size: 70px;
    font-style: italic;
    font-family: serif;
    color: wheat;
    text-align: center;
    margin-top: 100px;
}
.alltextmain span{
   color: brown;
   text-decoration: blink;
    word-spacing: 15px;
}
iframe{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    border: 100px solid black;
}

.clocktable{
    border-spacing: 2;
    margin-left: -20px;
    margin-top: 2px;
    padding: 100px;
    border-collapse: separate;
    border-spacing: 20px;
    text-align: center;
}
.clocktable td{ 
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: wheat;
}
.clocktable th{
    font-size: 30px;
    font-family: 'Prata', serif;
    text-shadow: 0 2px;
    color: #ebbd68;
}
.h3main{
    text-align: center;
    font-size: 38px;
    font-family: 'Lobster', cursive;
    padding: 30px;
    color: wheat;
    flex-grow: 1;
}
@media screen and (max-width: 360px) {
    .h3main{
        color: black;
    }
}
.textforh3{
    width: 420px;
    text-align: center;
    color: wheat;
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.block img{
    width: 400px;
    height: 380px;
    border: 5px solid wheat;
    border-radius: 900px;
}

.logo{
    width: 320px;
    justify-items: center;
}
.logo2{
    width: 300px;
        margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 30px; 
    border: 1px solid #897445;
    background: linear-gradient(to bottom right, #7E5827, #ac9870);
    border-radius: 8600px/5060px;
    position: absolute;
    right: 12%;
    top: 60px;
}
@media screen and (max-width: 360px) {
    .logo2{
        width: 260px;
        height: 150px;
        padding-top: 50px;
        top: 10px;
        right: 20px;
    }
}
@media screen and (max-width: 800px) {
    .logo2{
        width: 260px;
        height: 150px;
        padding-top: 50px;
        top: 10px;
        right: 20px;
    }
}
.nav-link {
    color: #7E5827;
	font-size: 25px;
	margin: 10px;
    font-family: 'Lobster', cursive;
    border: 3px solid wheat;
    border-radius: 300px;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.menubar{
    display: flex;
    opacity: 0.9;
    width: 100%;
}
.nav-link{
    text-align: center;
    display: flex;
    flex: 50%;
}
.nav-link:hover{
    background-color: white;
}
.logo{
   display:flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 190px;
}
.menutext{
    padding-left: 40px;
}
.dropdown-menu a{
    background-color: #7E5827;
    font-family: 'Lobster', cursive;
    color: black;
}
.search input{
    text-align: center;
}
.search input, .search button{
    white-space: nowrap;
}
.menubar a{
    white-space: nowrap;
}
.topimage{
	width: 100%;
}
.block2{
    display: flex;
    background-image: url(image/block2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border: 5px solid wheat;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.block2 h1{
    font-family: 'Oswald', sans-serif;
    color: brown;
    font-size: 50px;
    text-align: right;
    text-shadow: 1px 1px 1px ;
}
.block2 h4{
    font-family: 'Lobster', cursive;
    color: black;
    text-align: right;
    text-shadow: 5px 3px 15px white;
}
@media screen and (max-width: 360px) {
    .block2 h4{
      text-align: center; 
    }
}
@media screen and (max-width: 800px) {
    .block2 h4{
      text-align: center; 
    }
}
@media screen and (max-width: 360px) {
    .block2 h4{
      text-align: center; 
    }
}
.block2 a{ 
    width: 360px;
    height: 50px;
    font-family: ;
    white-space: nowrap;
    font-size: 30px;
    color: black;
    border: 3px solid black;
    border-radius: 300px;
    padding-left: 4px;
    color: red;
    text-decoration-line: none;
}
.buttonforman p{ 
    font-family: 'Russo One', sans-serif;
    text-align: center;
}
.buttonforman:hover{
    text-decoration: none;
    color: white;
    background: black;
}
.buttonforman:active{
    color: red;
}
.search button{
width: 100px;
height: 36px;
font-family: 'Lobster', cursive;
font-size: 15px;
color: black;
border: 1px solid white;
}
.search button:hover{
border: 1px solid black;
}
.search input{
	font-family: 'Lobster', cursive;
font-size: 15px;
}
.search{
    margin-right: 30px;
}

.navigation {
  display: flex;
}

